body {
  background-color: #d2e2f7;
}
.weather-front {
  background-color: #eff4fc;
  margin: 80px auto;
  max-width: 700px;
  padding: 38px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}
