body {
  background-color: #d2e2f7;
  font-family: "Roboto", sans-serif;
}
.weather-front {
  background-color: #eff4fc;
  margin: 70px auto;
  max-width: 680px;
  padding: 38px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}
main {
  padding: 45px 20px;
}
.current-city {
  position: relative;
  margin-top: 5px;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
}
.city-data {
  display: flex;
  justify-content: space-between;
}
.city-weather-content {
  display: flex;
}
.city-weather-emoji {
  position: relative;
  right: 10px;
  font-size: 55px;
}
.city-weather-temp {
  position: relative;
  right: 90px;
  font-size: 60px;
  font-weight: 400;
}
.city-weather-unit {
  position: relative;
  margin-top: 10px;
  right: 185px;
  font-size: 20px;
  font-weight: 400;
  margin-left: 13px;
}
header {
  padding: 0 0 40px 0;
}
.search-city {
  margin-top: 10px;
}
.input-city {
  border: none;
  border-radius: 7px;
  width: 75%;
  font-size: 17px;
  background-color: #d2e2f7;
  padding: 12px 18px;
  margin-left: 40px;
}
.search-button {
  border: none;
  border-radius: 4px;
  background-color: #73a8e6;
  padding: 13px 18px;
  font-size: 15px;
  margin-left: 5px;
}

.city-weather-info {
  position: relative;
  margin-top: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(39, 33, 66, 0.8);
}
.city-weather-info strong {
  color: #73a8e6;
}
a {
  color: #73a8e6;
}
footer {
  border-top: 1px solid #d2e2f7;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 15px;
  color: rgb(39, 33, 66, 0.7);
}
